{
  "name": {{cluster.name}},
  "description": {{cluster.description}},
  "vxnet": {{cluster.vxnet}},
  "nodes": [{
    "role":"work_node",
    "container": {
      "type": "kvm",
      "zone": "pek3",
      "image": "img-qh2fsx81"
    },
    "count": {{cluster.work_node.count}},
    "cpu": {{cluster.work_node.cpu}},
    "memory": {{cluster.work_node.memory}},
    "instance_class": {{cluster.work_node.instance_class}},
    "volume": {
      "size": {{cluster.work_node.volume_size}}
    },
    "server_id_upper_bound": 255,
    "services": {
      "init": {
        "cmd": "bash /root/qing-hyperledger/services/work_init.sh"
      },
      "start": {
        "cmd": "bash /root/qing-hyperledger/services/work_start.sh",
        "order":1
      },
      "stop": {
        "cmd": "bash /root/qing-hyperledger/services/work_stop.sh"
      },
      "upgrade": {
        "cmd": "echo 'upgrade' "
      }
    },
    "vertical_scaling_policy": "sequential"
  },{
    "role":"browser_node",
    "container": {
      "type": "kvm",
      "zone": "pek3",
      "image": "img-qh2fsx81"
    },
    "count": {{cluster.browser_node.count}},
    "cpu": {{cluster.browser_node.cpu}},
    "memory": {{cluster.browser_node.memory}},
    "instance_class": {{cluster.browser_node.instance_class}},
    "volume": {
      "size": {{cluster.browser_node.volume_size}}
    },
    "server_id_upper_bound": 255,
    "services": {
      "init": {
        "cmd": "bash /root/qing-hyperledger/services/browser_init.sh"
      },
      "start": {
        "cmd": "bash /root/qing-hyperledger/services/browser_start.sh",
        "order":2
      },
      "stop": {
        "cmd": "bash /root/qing-hyperledger/services/browser_stop.sh"
      },
      "upgrade": {
        "cmd": "echo 'upgrade' "
      }
    },
    "vertical_scaling_policy": "sequential"
  }],
  "endpoints": {
    "client": {
      "port": 8888,
      "protocol": "tcp"
    }
  },
  "health_check": {
    "enable": true,
    "interval_sec": 60,
    "timeout_sec": 10,
    "action_timeout_sec": 30,
    "healthy_threshold": 2,
    "unhealthy_threshold": 2,
    "check_cmd": "echo 0",
    "action_cmd": "echo"
  },
  "advanced_actions": ["change_vxnet", "scale_horizontal"],
  "env": {
    "TEST_PARA": {{env.test_parameter}},
    "ADMIN_USER_NAME":{{env.admin_username}},
    "ADMIN_USER_PASSWORD":{{env.admin_password}},
    "ADMIN_IS_ENABLE":{{env.admin_enabled}}
  }
}